:root {
  --primary-color: #7EDAD2;
  --secondary-color: #909090;
  --terciary-color: #424241;
}



@keyframes mymove {
  from {
    top: 0px;
  }

  to {
    top: 2px;
  }
}

body {
  box-sizing: border-box;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.ejercicio {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  width: 60%;
  aspect-ratio: 3/2;
  background: url("/img/hero-woman@2x.png"), url("/img/rectangle.png"), url("/img/rectangle-1.png"), linear-gradient(var(--primary-color), var(--primary-color));
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: relative;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  margin-bottom: 80px;
}

.navbar figure {
  margin: 0;
}

.navbar figcaption {
  display: none;
}

.navbar ul {

  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 56px;
}


.navbar ul a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0%;
  line height: 100%;
  color: var(--terciary-color);
  text-decoration: none;
  width: content;

}

.navbar ul a:hover {
  font-weight: bold;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 80px;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  margin-bottom: 5px;
  line-height: 80px;
}

h2 {
  font-size: 14px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.title {
  margin-bottom: 15px;
}

div.title {
  max-width: 60%;
  position: static;
  display: flex;
  flex-direction: column;
}

.title span {
  color: var(--primary-color);
}

.title h2 {
  color: var(--secondary-color);
  display: inline-block;
  width: 75%;
}

.title a {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  width: fit-content;
  background-color: var(--primary-color);
  padding: 15px;
  color: white;
  text-decoration: none;
  font-weight: 100;
  margin-bottom: 20px;
}

.title a:hover {
  background-color: white;
  color: var(--primary-color);
}

.total {
  display: flex;
  justify-content: flex-start;
  gap: 1px;
  margin-bottom: 50px;
}

.total div {
  text-align: center;
  align-content: first baseline;
  width: 150px;
}



.total div p {
  margin: 0;
}



.service {
  display: flex;
  gap: 35px;
}

.service div {
  width: 20%;
}

.service p {
  color: var(--secondary-color);
  margin: 0;
}

.title .total .number {
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  color: var(--terciary-color);
  font-weight: 400;
  letter-spacing: 0%;
  font-weight: normal;
  margin-bottom: 5px;
}

.title .total .case {
  color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
}

.service {
  display: flex;
  gap: 15px;
}

.service div {
  background-color: white;
  padding: 25px;
  text-align: left;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}



.service div:hover {
  transform: translateY(-8px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}